# Configuration file for the AP Faker
# standard for setting value
# <SETTING NAME>=<SETTING VALUE>

# SECTION LOGGER
# possible value for the log-level
# LOG_ERROR = 0
# LOG_INFO = 1
# LOG_WARNING = 2
# LOG_DEBUG = 3
LOG-LEVEL=2

# GENERAL SETTINGS
SCROLL-ACTIVE=false

# AVAILABLE ACCESS POINT
# define same variable for all record (APFAKER)
APFAKER=Maximo,WiFi Maximo Guest 2,,0
APFAKER=Euroma2,WiFi Euroma2 Guest,,0

# END OF CONFIGURATION